@model FXAdminTransferConnex.Entities.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset Password</title>

    @* Stylesheets *@
    <link href="~/Content/css/core.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />

    @*Scripts*@
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</head>
<body>

    <div class="main_container">
        <div class="login-wrapper">
            @using (Html.BeginForm("ResetPassword", "Login", new { ViewBag.ReturnUrl, userid = Request.QueryString["userid"], key = Request.QueryString["key"] }, FormMethod.Post, new { @class = "login", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
				<div class="login-block">
					<h1>Reset Password</h1>
				</div>

				<div class="user-input">
					@Html.PasswordFor(m => m.Password, new {@placeholder = "Password", @autofocus = ""})
					<i class="fa fa-user-o"></i>
					@Html.ValidationMessageFor(m => m.Password)
				</div>

				<div class="user-input">
					@Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirm Password", @autofocus = "" })
					<i class="fa fa-user-o"></i>
					@Html.ValidationMessageFor(m => m.ConfirmPassword)
				</div>
				<div class="submit_button">
					<button class="btn-submit reset-submit">Submit</button>
					@Html.ActionLink("Cancel", "Login", new { @class = "btn btn-default cancel_button", title = "Cancel" })
				</div>
            }
        </div>
    </div>
</body>
</html>

<script type="text/javascript">

    if ('@ViewBag.Success' === "suceess") {
        $(".validation-summary-errors ul li").css("color", "#249378");
    }
    
</script>

